<p id="notice"><%= notice %></p>

<h1>Oops, something went wrong</h1>

<table>
  <thead>
    <tr>
      <th>Its seems that you are anuthorised to access this link, please use the navigation bar to access any of the avaialbe links</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

      <tr>

        <td> <div id="container" style="width:100%; height:400px;"><%= image_tag("denied.jpg", size: "1000x500") %></div></td>

    </tr>
  </tbody>
</table>
