<style>
    footer{
      background-color: #eee;
      padding: 25px;
      bottom: 0;
    }
     ul, li{
       list-style-type: none;
     }
     .list{
       margin-top: 15px;
     }
  </style>
<hr class="featurette-divider">
<footer>  <!-- footer and footer css from https://bootsnipp.com/snippets/M5oOl -->
<div class="container">
<div class="row">
  <div class="col-md-3">
  <h3>About Us</h3>
  <p>Just a bunch of friends making websites that inform people about air quality.</p>
  </div>
  <div class="col-md">
    <h5><strong>GitHub Profiles</strong></h5>
    <ul>
      <li><a href="https://github.com/Mezuah4">Andrei Rotariu</a></li>
      <li><a href="https://github.com/fridayk7">Paraskevas Kleanthous</a></li>
      <li><a href="https://github.com/faizan-mohiuddin">Faizan Mohiuddin</a></li>
    </ul>
  </div>
  <div class="col-md">
    <h5><strong>Contact Info</strong></h5>
    <p><strong>Andrei:</strong> </p>
    <p><strong>Paraskevas:</strong> u04pk18@abdn.ac.uk</p>
    <p><strong>Faizan:</strong> u05fm18@abdn.ac.uk</p>
  </div>
</div>
</div>
</footer>
